# Book Recommendation system

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
books = pd.read_csv("Books.csv")
users = pd.read_csv("Users.csv")
ratings = pd.read_csv("Ratings.csv")

C:\Users\Shivs\AppData\Local\Temp\ipykernel_6296\2906776592.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv("Books.csv")

In [3]:
books.head(2)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...

In [4]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [5]:
users.head(2)

   User-ID                   Location   Age
0        1         nyc, new york, usa   NaN
1        2  stockton, california, usa  18.0

In [6]:
books.shape, users.shape, ratings.shape

((271360, 8), (278858, 3), (1149780, 3))

In [7]:
books.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            1
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [8]:
users.isnull().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [9]:
ratings.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [10]:
print("dublicated rows in books", books.duplicated().sum())
print("dublicated rows in users", users.duplicated().sum())
print("dublicated rows in ratings", ratings.duplicated().sum())

dublicated rows in books 0
dublicated rows in users 0
dublicated rows in ratings 0

# Popularity Based Recommendation System

In [11]:
ratings_df = ratings.merge(books, on="ISBN")

In [12]:
rating_count = ratings_df.groupby("Book-Title")["Book-Rating"].count().reset_index()
Avg_ratings = ratings_df.groupby("Book-Title")["Book-Rating"].mean().reset_index()

In [13]:
main_rating_df = rating_count.merge(Avg_ratings, on="Book-Title")

In [14]:
main_rating_df.rename(columns={"Book-Rating_x" : "No. of Ratings", "Book-Rating_y" : "Avg Ratings"}, inplace=True)

In [15]:
# Threshold : 100 minimum 100 ratings (counts)
main_rating_df = main_rating_df[main_rating_df["No. of Ratings"]>=150]

In [16]:
popular_50_book = main_rating_df.sort_values("Avg Ratings", ascending=False).head(50)

In [17]:
popular_50_book=popular_50_book.merge(books, on=["Book-Title"]).drop_duplicates("Book-Title")[["Book-Title", "Book-Author", "Publisher", "Image-URL-S", "Year-Of-Publication", "No. of Ratings", "Avg Ratings"]].reset_index()

In [18]:
popular_50_book.head()

,index,Book-Title,Book-Author,Publisher,Image-URL-S,Year-Of-Publication,No. of Ratings,Avg Ratings
0,0,Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,Scholastic,http://images.amazon.com/images/P/0439136350.0...,1999,428,5.852804
1,3,Harry Potter and the Goblet of Fire (Book 4),J. K. Rowling,Scholastic,http://images.amazon.com/images/P/0439139597.0...,2000,387,5.824289
2,5,Harry Potter and the Sorcerer's Stone (Book 1),J. K. Rowling,Scholastic,http://images.amazon.com/images/P/0590353403.0...,1998,278,5.737410
3,9,Harry Potter and the Order of the Phoenix (Boo...,J. K. Rowling,Scholastic,http://images.amazon.com/images/P/043935806X.0...,2003,347,5.501441
4,13,Ender's Game (Ender Wiggins Saga (Paperback)),Orson Scott Card,Tor Books,http://images.amazon.com/images/P/0312853238.0...,1992,249,5.409639

# Collaberatoing Filtering Based Recommendation System

In [19]:
ratings_df.head()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
3,8680,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
4,10314,034545104X,9,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...

In [20]:
user_count = ratings_df.groupby("User-ID")["Book-Rating"].count() >200

In [21]:
selective_users = user_count[user_count].index

In [22]:
ratings_df=ratings_df[ratings_df["User-ID"].isin(selective_users)]

In [23]:
book_counts = ratings_df.groupby("Book-Title")["Book-Rating"].count() >= 50

In [24]:
selective_books = book_counts[book_counts].index

In [25]:
final_data = ratings_df[ratings_df["Book-Title"].isin(selective_books)]

In [26]:
final_data.head(2)

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
63,278418,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
65,3363,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...

In [27]:
final_data.duplicated().sum()

0

In [29]:
pivot = final_data.pivot_table(index="Book-Title", columns="User-ID", values="Book-Rating")

In [30]:
pivot.shape

(706, 810)

In [32]:
pivot.fillna(0, inplace=True)

In [43]:
pivot.index = pivot.index.str.lower()

In [78]:
pivot.head(2)

User-ID,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to die: a novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [34]:
from sklearn.metrics.pairwise import cosine_similarity

In [38]:
similarity = cosine_similarity(pivot)

In [57]:
def recommendation(book):
    book_name = book.lower()
    book_index=np.where(pivot.index==book)[0][0]
    distance=similarity[book_index]
    book_list=sorted(list(enumerate(distance)), reverse=True, key=lambda x:x[1])[1:6]
    
    for i in book_list:
        print(pivot.index[i[0]])

Index(['1984', '1st to die: a novel', '2nd chance', '4 blondes',
       'a bend in the road', 'a case of need',
       'a child called \it\": one child's courage to survive"',
       'a civil action', 'a day late and a dollar short', 'a fine balance',
       ...
       'winter solstice', 'wish you well', 'without remorse',
       'wizard and glass (the dark tower, book 4)', 'wuthering heights',
       'year of wonders', 'you belong to me',
       'zen and the art of motorcycle maintenance: an inquiry into values',
       'zoya', '\o\" is for outlaw"'],
      dtype='object', name='Book-Title', length=706)

In [76]:
recommendation("harry potter and the chamber of secrets (book 2)")

harry potter and the prisoner of azkaban (book 3)
harry potter and the goblet of fire (book 4)
harry potter and the sorcerer's stone (harry potter (paperback))
harry potter and the sorcerer's stone (book 1)
harry potter and the order of the phoenix (book 5)